html {
	height: 100%;
}
body {
	width: 100%;
	height: 98%;
	margin: 0;    
	padding: 0;
}
.wrapper {
	background-color: #738A8C;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}
.wrp {
	width: 960px;
	margin: 0 auto;
	position: relative;
}

.footertxt {
	width: auto;
	margin: 0 auto;
	position: relative;
}
.header {
	height: 50px;
	background: #3DB5BF;
}
.content {
	margin: 1%;
	padding: 0 0 100px;
	min-height: 200px;
}
.footer {
	margin: -46px 0 0 0;
	height: 50px;
	position: relative;
	background: #3DB5BF;	
}

#--nav
body {margin:0;}
ul {
  list-style: none; 
  margin: 0 auto;
}
a {
  text-decoration: none;
  font-family: 'Lora', serif;
  transition: .5s linear;
}
i {
  margin-right: 10px;
}
nav {
  display: block;
  width: fit-content;
  margin: 0 auto 30px;
}

.two ul {
  background: transparent;
  overflow: hidden;
  padding: 0;
}
.two li {
  float: left;
}
.two a {
  display: block;
  padding: 1em;
  border-right: 1px solid #ADC0CE;
  background: #BF3D8A;
  color: #F4A3AA;
}
.two a:hover {background: #000}

picture {
	max-width: 100%;
	height: auto;
}